@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');
body{
    font-family: 'Alkatra', cursive !important;
}
.logo{
    width: 220px;
}
.sl{
    background-color: blanchedalmond;
    padding: 30px;
    border-radius: 5px;
}
.text-main{
    font-size: 20px;
}
.MAC{
    background-color: bisque;
    padding: 30px;
    border-radius: 5px;
}
.in{
    background-color: rgba(22, 238, 238, 0.226);
}
.card{
padding: 0px !important;
border-radius: 5px !important;
margin-bottom: 50px !important;
}
.card-se{
    border-radius: 30px !important;
}
.m{
    margin-top: 80px !important;
}